a{
   text-decoration: none;
   color: black;
}
a:hover
{
   text-decoration: underline;
}

body{
   margin-right: 25px;
   margin-left: 25px;
}

nav, nav ul li{
   display: inline-block;
   margin:5px
}

#banner{
   background-color:rgb(240, 240, 240);
   height:300px;
   text-align: center;
}

#banner div{
   display:inline-block;
   width: 45%;
   vertical-align:middle;
}

#banner-desc{
   text-align: left;
}

#banner-img img{
   width:275px;
}

#icons{
   margin-top:75px;
   margin-bottom:75px;
   text-align: center;
   
}

#mini-layout{
   text-align: center;
}

.icon{
   display: inline-block;
   width:125px;
   margin-left:25px;
   margin-right:25px;
   vertical-align: top;
}

.icon i{
   font-size:xx-large;
}

.layout{
   display: inline-block;
   width:200px;
   margin-left: 10px;
   margin-right: 10px;
}

.layout-image{
   background-color:rgb(240, 240, 240);
   margin-bottom:15px ;
}